div
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    width: 200px;
    background-color: aqua; 
    border: 3px solid blue;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

*
{
    box-sizing: border-box;
}